.boldetxt{
 color: white;
 position: relative;
 top: 180px;
}

.hed{
    text-align:center;
  margin: 25px 125px 25px 125px;
  background-image: url('donation3.jpg');
  height: 100vh;
  background-size: cover;
   background-repeat: no-repeat ;
  
}

.button{
  width: 200px;
  text-align: center;
  font-size: 20px;
  color: white;
text-decoration: none;
 position: relative;
 top: 240px;
 border: 1px solid red;
 background-image: linear-gradient(red, red);
 border-radius: 5px;
 padding: 5px; 
}
.button2{
  position: relative;
  left: 550px;
  top: 120px;
}

.normaltext{
   font-size: 16px;
   color: white;
   width: 400px;
   position: relative;
   left: 340px;
   top: 220px ;
}
  
a{
  position: relative;
  top: 360px;
}
h1{
  height: 40px;
  font-size:45px;
}
.newh2{
  position: relative;
  left: 560px;
  font-size: 30PX;
  opacity: 1;
}
.newh3{
  position: relative;
  bottom: -230px;
  left: 490px;
}
.secondtext{
   font-size: 16px;
   color: black;
   width: 500px;
   position: relative;
   left: 430px;
   opacity: 0.6;
   
}
.secondtext2{
  position: relative;
  bottom: -220px;
  left: 380px;
  opacity: 0.6;
}
.blocks{
  position: relative;
  left: 380px;
  display: flex;
  bottom: -30px;
  
}
.blocks1{
  height: 90px;
  width: 90px;
  background-color: aliceblue;
  margin-left: 20px;

}
.blocks2{
  height: 90px;
  width: 90px;
  background-color:rgb(255, 194, 204);
  margin-left: 20px;
  border: 1px solid red;
  border-radius: 5px;
}
b{
  font-size: 20px;
  position: relative;
  top: 28px;
  padding: 22px;
}
.span{
  position: relative;
  left:550px ;
  top: 100px;
  opacity: 0.6;
}
hr{
  color: black;
  width: 500px;
  position: relative;
  bottom:-95px;
}
.donateblock{
  position: relative;
  top: 270px;
  width: 250px;
  height: 250px;
  border-radius: 3px;
  background-color: aliceblue;
  margin-left: 20px;
  margin-bottom: 20px;
  margin-left: 20px;
}
.divsection{
  display: flex;
  position: relative;
  left: 200px;
}
.donateblock1{
  position: relative;
  top: 60px;
  padding-left: 15px;
}
.color2{
  background-color: rgb(241, 205, 205);
  
}
.color3{
  background-color: blanchedalmond
}

.footer {
  position: relative;
  left: 0;
  height: 120px;
  bottom: -300px;
  margin: 25px 125px 25px 125px;
  background-color: black;
  color: white;
  text-align: center;

}
i{
  color: red;
  position: relative;
  top: 19px;
  font-size: 20px;
}
p{
  position: relative;
   opacity: 0.6;
   top: 24px;
}